.miCuenta {
    background-color: #eeeeee;
    text-align: center;
    height: 50px;
    box-shadow: 2px 2px 5px #999;
}

.informacion {
    font-size: 20px;
    color: white;
    background-color: #3873b7;
    height: 50px;
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 2px;
}

.panelBlanco {
    text-align: center;
    padding-top: 10px;
    height: 525px;
    margin-bottom: 0px;
}

.panelGris {
    background-color: #eeeeee;
    height: 100%;
}

#nombrePerfil {
    margin-top: 50px;
    font-size: 11px;
    color: #428bca;
}

#etiqueta1 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

#etiquetaWhatsapp1 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

.botonmayor {
    font-size: 15px;
    font-weight: bold;
    margin-right: 2px;
}

.altoCambio {
    height: 60px;
}

#etiqueta2 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

#etiquetaWhatsapp2 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

#etiqueta3 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

#etiquetaWhatsapp3 {
    font-size: 10px;
    font-weight: bold;
    padding-left: 3px;
}

#guardaryVolver {
    margin-top: 83px; 
    margin-bottom: 40px;
}


@media (min-width: 768px) {

    .panelGris {
        height: 525px;
    }

    #nombrePerfil {
        font-size: 20px;
    }

    #etiqueta1 {
        font-size: 11px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp1 {
        font-size: 13px;
    }

    .altoCambioPrimero {
        margin-top: 90px;
    }

    .altoCambio {
        height: 90px;
    }

    #etiqueta2 {
        font-size: 11px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp2 {
        font-size: 13px;
    }

    #etiqueta3 {
        font-size: 11px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp3 {
        font-size: 13px;
    }

}

@media (min-width: 992px) {

    #etiqueta1 {
        font-size: 13px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp1 {
        font-size: 13px;
    }
    
    #etiqueta2 {
        font-size: 13px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp2 {
        font-size: 13px;
    }

    #etiqueta3 {
        font-size: 13px;
        padding-left: 7px;
    }

    #etiquetaWhatsapp3 {
        font-size: 13px;
    }

}
